#bottom{
    background-color: red;
    color: black;
}

h1 {
    background-color: rgb(8, 131, 12);
    color: rgb(17, 1, 1);
}
p {
    background-color: rgb(22, 22, 22);
    color: rgb(233, 233, 221);
}

h3,h4,h5{
    background-color: tomato;
    color: white;
}

span{
    background-color: blue;
    color: yellow;
}

p span{
    background-color: orange;
    color: black;
}

div span{
    background-color: rgb(6, 199, 57);
    color: rgb(178, 6, 6);
    text-transform: none;
}


p span{
    background-color: rgb(241, 14, 199);
    color: black;
    text-transform: none;
}

*{
    text-transform: uppercase;
}

.style-text{
    font-size: 25px;
    background-color: blueviolet;
    color: white;
}
.text-decor{
    text-transform: uppercase;
    font-style: italic;
}
.style-text.text-decor{
    border: 4px solid black;
}

div.style-text{
    padding: 100px;
}
.user-button{
    background-color: rgb(235, 247, 5);
    color: white;
}
.user-button:hover{
    background-color: blue;
    color: yellow;
}
/* DRY don't repeat yourself */

li{
    background-color: gray;
    color: white;
}
/* .firts-element{
    background-color: black;
}
.last-element{
    background-color: red;
} */
.product-list li:first-child{
    background-color: black;
}
.product-list li:nth-child(3){
    background-color: purple;
}
.product-list li:nth-child(4){
    background-color: rgb(68, 135, 242);
}
.product-list li:last-child{
    background-color: rgb(206, 9, 9);
}

a[target="_blank"] {
    background-color: yellow;
}
