@media (min-width:810px){
    header{
        background-color: rgb(48, 155, 243);    
    }
}

@media (min-width:1079px){
    header{
        background-color: rgb(83, 86, 88); 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;  
        align-items: center;
    }
    .logo{
        margin-bottom: 0;
    }
    nav{
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        row-gap: 0;
        column-gap: 15px;
    }
    nav a{
        color: white;
    }
}

@media print{
    .logo{
        border: 4px solid black;
        margin: 0;
    }
    header{
        padding: 10px;
    }
    nav{
        display: none;
    }
    p{
        font-size: 35px;
        margin: 0;
    }
}