*{
    box-sizing: border-box;
}
body{
    /* width: 1440px; */
}
header{
    background-color: orange;
    padding: 50px;
    /* position: static; */
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 5;
    /* left: 0; */
    width: 100%;
    /* width: 600px; */
    /* position: absolute;
    position: relative;
    position: fixed;
    position: sticky; */

    /* z-index: 1; */

    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
}
p{
    width: 200px;
    margin: 0 auto;
    font-size: 32px;
}
.up{
    background-color: red;
    color: white;
    font-size: 24px;
    border: 2px solid red;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    position: fixed;
    /* left: 1550px; */
    right: 50px;
    /* top: 800px; */
    bottom: 80px;
}
.up:hover{
    background-color: white;
    color: red;
}
.abs{
    position: absolute;
    padding: 50px;
}
.one{
    background-color: blue;
    top: 0px;
    left: 5px;
    z-index: 7;
}
.second{
    background-color: yellow;
    top: 250px;
    left: 150px;
    z-index: 6;
}
.pos-r{
    position: relative;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    background-color: green;
    z-index: 7;
}

.wide-content{
    width: 960px;
    margin: 0 auto;
}
.regular-content{
    width: 600px;
    margin: 0 auto;
}